body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #bfd5eb;
  padding: 40px;
  max-width: 400px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  background: #c9e6bf;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ques {
  margin-bottom: 15px;
}

.ques label {
  display: block;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 5px;

}

.answer-input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-score {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-score:hover {
  background-color: #45a049;
}

.score-output {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #1d3557;
} 